In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('health-facilities-gh.csv')

In [3]:
df.head()

,Region,District,FacilityName,Type,Town,Ownership,Latitude,Longitude
0,Ashanti,Offinso North,A.M.E Zion Clinic,Clinic,Afrancho,CHAG,7.40801,-1.96317
1,Ashanti,Bekwai Municipal,Abenkyiman Clinic,Clinic,Anwiankwanta,Private,6.46312,-1.58592
2,Ashanti,Adansi North,Aboabo Health Centre,Health Centre,Aboabo No 2,Government,6.22393,-1.34982
3,Ashanti,Afigya-Kwabre,Aboabogya Health Centre,Health Centre,Aboabogya,Government,6.84177,-1.61098
4,Ashanti,Kwabre,Aboaso Health Centre,Health Centre,Aboaso,Government,6.84177,-1.61098

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3756 entries, 0 to 3755
Data columns (total 8 columns):
Region          3756 non-null object
District        3756 non-null object
FacilityName    3756 non-null object
Type            3756 non-null object
Town            3603 non-null object
Ownership       3756 non-null object
Latitude        3732 non-null float64
Longitude       3732 non-null float64
dtypes: float64(2), object(6)
memory usage: 234.8+ KB

## Buat DataFrame Yang Menampilkan Jumlah unik value tiap tiap kolom

In [5]:
xxx = []
for item in df.columns:
    temp = []
    temp.append(item)
    temp.append(df[item].nunique())
    xxx.append(temp)
z = pd.DataFrame(xxx,columns=['kolom', 'jumlah_unik_value'])
z

          kolom  jumlah_unik_value
0        Region                 10
1      District                171
2  FacilityName               3544
3          Type                 25
4          Town               2446
5     Ownership                 12
6      Latitude               2845
7     Longitude               2835

### Tampilkan Lima data region,district,type,town dan ownership terbanyak

In [6]:
list1 = ['Region', 'District', 'Type', 'Town', 'Ownership']
for item in list(list1):
    z = df[item].value_counts().head(5)
    print( '5 data '+ str(item) + ' terbanyak' + '\n' + str(z) + '\n' )

5 data Region terbanyak
Ashanti          658
Greater Accra    504
Western          496
Volta            398
Eastern          393
Name: Region, dtype: int64

5 data District terbanyak
Accra Metropolitan     277
Kumasi Metropolitan    263
Tema Metropolitan      118
Shama Ahanta East       71
Ho Municipal            51
Name: District, dtype: int64

5 data Type terbanyak
Clinic            1171
Health Centre      786
CHPS               652
Maternity Home     369
Hospital           277
Name: Type, dtype: int64

5 data Town terbanyak
Sunyani      29
Koforidua    17
Berekum      16
Ho           15
Osu          15
Name: Town, dtype: int64

5 data Ownership terbanyak
Government          2210
Private             1179
CHAG                 257
Quasi-Government      91
government             6
Name: Ownership, dtype: int64

### Buat DataFrame Seperti Dibawah

In [7]:
Town = list(df['Town'].unique())
ListLat = []
ListLong = []
for item in Town:
    ListLat.append(df[df['Town'] == item]['Latitude'].mean())
    ListLong.append(df[df['Town'] == item]['Longitude'].mean())
    
z = {
    'Town' : Town,
    'MeanLat' : ListLat,
    'MeanLong' : ListLong    
}
pd.DataFrame(z)

                    Town   MeanLat  MeanLong
0               Afrancho  6.898643 -1.644317
1           Anwiankwanta  6.463120 -1.585920
2            Aboabo No 2  6.223930 -1.349820
3              Aboabogya  6.841770 -1.610980
4                 Aboaso  6.841770 -1.610980
5               Aboffour  7.129860 -1.732940
6                Abuakwa  6.798606 -1.789500
7                Aburaso  6.661330 -1.676620
8                Achiase  6.636113 -1.524260
9                Adidwan  7.201150 -0.821900
10              Adimposo  6.336590 -1.925880
11           Akratiebesa  6.618790 -1.192020
12              Adinyana  6.883640 -1.873340
13       Adwumakase Kese  6.808130 -1.539330
14               Afamaso  6.949120 -1.508730
15          Aframso No.3  7.144720 -1.121620
16                 Agogo  6.836546 -1.052806
17                 Agona  6.936050 -1.497590
18               Hwireso  6.675220 -1.381590
19    New  Estate-Obuasi  6.208980 -1.671030
20       Ahenema kokoben  6.625970 -1.649780
21               Ahenkro  6.871550 -1.640090
22             Effiduase  6.846980 -1.390503
23                Kokofu  6.486297 -1.547454
24                Bekwai  6.455480 -1.574640
25            Subin Camp  5.967170 -1.449930
26              Akokuaso  6.853550 -1.335830
27               Kortwia  6.439660 -1.538370
28        Akomadan zongo  7.405810 -1.960720
29          New Akrofrom  6.153480 -1.476210
...                  ...       ...       ...
2417                Huni  5.434363 -2.143448
2418              Damang  5.434363 -2.143448
2419            Bompieso  5.434363 -2.143448
2420         Wassa Nkran  5.434363 -2.143448
2421               Boako  6.146702 -2.539603
2422             Akurafu  6.146702 -2.539603
2423                 Sui  6.146702 -2.539603
2424              Amafia  6.146702 -2.539603
2425             Bechiwa  6.146702 -2.539603
2426              Ahokwa  6.146702 -2.539603
2427            Nsuonsua  6.146702 -2.539603
2428          Agona Camp  5.653611 -2.165901
2429             Somprey  5.653611 -2.165901
2430            Bokakore  5.653611 -2.165901
2431         Attobrakrom  5.653611 -2.165901
2432              Anakum  5.653611 -2.165901
2433           Akyekyere  5.653611 -2.165901
2434              Kwaman  5.653611 -2.165901
2435            Bawakrom  6.041831 -2.875169
2436          Edewuakrom  6.041831 -2.875169
2437          Aburonahia  6.041831 -2.875169
2438            Manukrom  6.041831 -2.875169
2439           Ahwiafutu  6.041831 -2.875169
2440    Akontombra Annex  6.041831 -2.875169
2441            Tanokrom  6.041831 -2.875169
2442          Chorichori  6.041831 -2.875169
2443            Kordjour  6.041831 -2.875169
2444            Wansampo  6.041831 -2.875169
2445             Apprutu  6.041831 -2.875169
2446             Yawkrom  6.041831 -2.875169

[2447 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3756 entries, 0 to 3755
Data columns (total 8 columns):
Region          3756 non-null object
District        3756 non-null object
FacilityName    3756 non-null object
Type            3756 non-null object
Town            3603 non-null object
Ownership       3756 non-null object
Latitude        3732 non-null float64
Longitude       3732 non-null float64
dtypes: float64(2), object(6)
memory usage: 234.8+ KB

### Hapus data dengan latitude Nan

In [9]:
index_to_delete= df[df['Latitude'].isnull()].index

In [10]:
df = df.drop(index_to_delete , axis=0)

### Isi Kolom Town Yang Nan dengan latitude terdekat dengan latitude kota di dataFrame diatas

In [11]:
lat = list(df[df.Town.isna() == False]['Latitude'])

In [12]:
def applyTown(x):
    if pd.isna(x['Town']):
        terdekat = min(lat, key=lambda a:abs(a-x['Latitude']))
        terdekat
        return df[(df['Latitude'] == terdekat) & (df.Town.isnull() == False) ]['Town'].values[0]
    else : 
        return x['Town']

In [13]:
df['Town'] = df[['Latitude' , 'Longitude', 'Town']].apply(applyTown , axis=1)